@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@layer base {
    html {
        @apply font-sans;
    }
}

:root {
    --sidebar-menu-selected-item-color: #E6FFF4;        
    --header-bg-color: #ffff;

    --ant-layout-body-bg: #ffff;
    --ant-layout-color-bg-body: #ffff;
    --ant-layout-color-bg-header: #ffff;
    --ant-layout-header-bg: #ffff;
}

